<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.conseng.notificationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationActivity"
            android:label="@string/label_activity2"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.conseng.notificationdemo.MainActivity" />
        </activity>

        <receiver android:name=".NotificationBroadcast">
            <intent-filter>
                <action android:name="br.com.conseng.notificationdemo.previous" />
                <action android:name="br.com.conseng.notificationdemo.delete" />
                <action android:name="br.com.conseng.notificationdemo.pause" />
                <action android:name="br.com.conseng.notificationdemo.play" />
                <action android:name="br.com.conseng.notificationdemo.next" />
            </intent-filter>
        </receiver>

    </application>

</manifest>